{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Portal</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="nav-container">

        <!-- LOGO LEFT -->
        <a href="{% url 'home' %}" class="nav-logo"> Placement Portal</a>

        <!-- RIGHT SIDE -->
        <div class="nav-right">

            <!-- LINKS -->
            <ul class="nav-links">
                <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a></li>
                {% endif %}
            </ul>

            <!-- PROFILE SECTION -->
            {% if user.is_authenticated %}
            <div class="nav-profile">

                <!-- CLICKABLE PROFILE -->
                <a href="{% url 'student_dashboard' %}" class="nav-profile-link">
                  <img src="{% static 'images/profile.avif' %}" class="nav-avatar" alt="Profile">
                </a>

                <a href="{% url 'logout' %}" class="nav-btn logout" style="margin-left: 30px; ">Logout</a>

            </div>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link" >Login</a>
                <a href="{% url 'register' %}" class="nav-btn">Register</a>
            {% endif %}

        </div>
    </div>
</nav>

{% block content %}{% endblock %}
{% include "footer.html" %}
</body>
</html>